*{
	font-family: "맑은 고딕"!important;
}
body{
	background: #eee!important;
}
.container{
	margin:10px 0;
	padding:10px 0;
	background-color: #fff;
	border:1px solid #e2e2e2;
}
h3{margin-bottom: 15px!important;}
canvas{margin:0!important; background:#fff; outline:1px solid #ddd;}
pre{
	margin:10px 0 !important;
}
.about{
	display: block;
	width:100%;
	background-color: #eee;
}
.about:after{
	display: block; content: ""; clear: both;
}
	.about .title{
		display: block;
		width:100%;
		font-size:1.2em;
		font-weight: bold;
		padding-bottom:5px;
		margin: 5px 0;
		border-bottom:1px solid #ddd;
	}
	.about content{
		display: block;
		line-height: 200%;
		width:100%;
		background-color: #eee;
		padding:10px;
	}
	.about .canvas-area{
		position: relative;
		text-align: center;
		min-width: 300px;
		padding:50px 0;
	}
	.about .canvas-area:before{
		content:"라이브 뷰";
		font-weight: bold;
		background-color: #FF8000;
		padding:5px;
		color:#fff;
		position: absolute;
		top:0;
		left:0;
	}
	.about .content{
		border-left:1px solid #ddd;
		min-height:254px;
		padding-left:10px; 
		background-color: #fff;
	}
	.about .content .btn-wrap{
		margin:10px 0 0 0;
		width:100%;
	}
	.about .content .btn-wrap:after{
		content: "";display: block;clear: both;
	}
		.btn-wrap input{margin:0;}

	.about .content article{
		width:100%;
		padding-left:10px;
		margin-bottom: 10px;
		line-height: 200%;
	}
	.about .content article:after{
		content:"";
		display: block;
		clear:both;
	}
	.about .content article a{
		font-weight: bold;
		margin: 0 5px;
	}
	@media (max-width: 992px){
		.about{
			border:1px solid #ddd;
		}
		.about .content{
			border-left-width: 0	
		}
	}
	.border-none{
		border-radius: 0!important;
	}
	.form-control{margin:10px 0;}